.item {
    width: 100%; /* Make each item take up the full width of its flex container */
    max-width: 350px; /* Ensure items do not exceed 350px in width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.item p {
    margin: 6px 0;
}

.item-prices {
    display: flex;
    gap: 20px;
}

.item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}


@media (max-width: 1200px) {
    .item {
        max-width: 300px; /* Adjust max width for large screens */
    }
    .item-price-new, .item-price-old {
        font-size: 16px; /* Adjust font size for prices */
    }
}

/* Tablets */
@media (max-width: 768px) {
    .item {
        max-width: 250px; /* Adjust max width for tablets */
    }
    .item-price-new, .item-price-old {
        font-size: 14px; /* Adjust font size for prices */
    }
    .item-prices {
        gap: 15px; /* Reduce gap between prices */
    }
}

/* Mobile phones */
@media (max-width: 480px) {
    .item {
        max-width: 100%; /* Ensure item takes full width on mobile */
    }
    .item-price-new, .item-price-old {
        font-size: 12px; /* Adjust font size for prices */
    }
    .item-prices {
        gap: 10px; /* Further reduce gap between prices */
        flex-direction: column; /* Stack prices vertically */
    }
}