.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.relatedproducts h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproducts hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.relatedproducts-item img {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    border-radius: 10px; /* Optional: Add rounded corners */
}

@media (max-width: 1200px) {
    .relatedproducts h1 {
        font-size: 40px;
    }
    .relatedproducts-item {
        gap: 20px;
    }
    .relatedproducts-item img {
        width: 180px;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .relatedproducts h1 {
        font-size: 35px;
    }
    .relatedproducts-item {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .relatedproducts-item img {
        width: 150px;
    }
}

/* Mobile phones */
@media (max-width: 480px) {
    .relatedproducts {
        height: auto; /* Adjust height to auto */
    }
    .relatedproducts h1 {
        font-size: 30px;
    }
    .relatedproducts hr {
        width: 150px;
        height: 4px;
    }
    .relatedproducts-item {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .relatedproducts-item img {
        width: 120px;
    }
}